.home{
    background-color: var(--main-color);
    color: white;
    overflow: hidden;
    margin-bottom: 30px;
}

.youtube-container{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    
}